{% extends 'base.html.twig' %}

{% block title %}Liste des film{% endblock %}
     
{% block body %}

    {{ form_start(form) }}
        <div class="admin__link">
            <button type="submit">Afficher</button>
        </div>
    {{ form_end(form) }}
    <a href={{ path('add' ) }}>Ajouter</a>
    {% for movie in movies %}
        {{ movie.name }}
        {{ movie.synopsis }}
        {{ movie.producer.firstName}}
        {{ movie.producer.LastName}}
        {% for category in movies %}
             {{ category.name}}
        {% endfor %}
        <a href={{ path('update', {'id': movie.id} ) }}>Modifier</a>
        <a href={{ path('delete', {'id': movie.id} ) }}>Supprimer</a>
        <a href={{ path('viewSolo', {'id': movie.id} ) }}>Voir</a>
    {% endfor %}
{% endblock %}